@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");

.pseudo-logo {
  font-family: "Bungee Shade", monospace;
  font-size: 2em;
  padding: 0 !important;
  margin-right: 20px !important;
}

code {
  font-family: "Fira Code", "Roboto Mono", "Consolas", monospace;
  color: darkblue;
}
